{% extends 'base.html.twig' %}

{% block body %}
	<h1>Panier</h1>
	<div id="produits-list">
		{% if produits is empty %}
			<h2>Panier</h2>
			<div id="cart">
				<p>Votre panier est vide.</p>
			</div>
		{% else %}
			<table>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Description</th>
						<th>Prix unitaire</th>
						<th>Quantité</th>
						<th>Total par article</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for produit in produits %}
						<tr id="product-row-{{ produit.produit.id }}">
							<td>{{ produit.produit.nom }}</td>
							<td>{{ produit.produit.description }}</td>
							<td>{{ produit.produit.prix | number_format(2, ',', ' ') }}
								€</td>
							<td>
								<select class="quantity-select" data-product-id="{{ produit.produit.id }}" data-url="{{ path('update_quantity') }}">
									{% for i in 1..10 %}
										<option value="{{ i }}" {% if i == produit.quantite %} selected {% endif %}>{{ i }}</option>
									{% endfor %}
								</select>
							</td>
							<td id="total-item-price-{{ produit.produit.id }}">{{ produit.totalItemPrice | number_format(2, ',', ' ') }}
								€</td>
							<td>
								<button class="remove-from-cart" onclick="deleteArticle(event, {{ produit.produit.id }})">
									Retirer du panier
								</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<h2>Total général :
				<span id="total-price">{{ totalPrice | number_format(2, ',', ' ') }}</span>
				€</h2>
		{% endif %}
	</div>
{% endblock %}

