{% block body %}
	<header>

		<nav>
			<div><img src="{{asset('assets/images/Logo_imperatrice_transparent.png')}}" alt=""></div>
			<ul>
				<li><a href="{{path('app_home')}}">Accueil</a></li>
				<li><a href="{{path('app_produits')}}">Produits</a></li>
				<li><a href="{{path('app_register')}}">Inscription</a></li>
				<li><a href="{{path('app_login')}}">Connexion</a></li>
				<li><a href="{{ path('app_cart') }}">Panier</a></li>

			</ul>
		</nav>
	</header>
{% endblock %}
