{% block body %}
	<header>

		<nav>
			<div><img src="{{asset('assets/images/Logo_imperatrice_transparent.png')}}" alt="Logo de l'impératrice"></div>
			<div class="burger_menu" id="burger_menu">
				<svg xmlns="http://www.w3.org/2000/svg" height="40px" viewbox="0 -960 960 960" width="40px" fill="#e3e3e3"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
			</div>
			<ul id="largeXMobile">
				<li>
					<a href="{{path('app_home')}}">Accueil</a>
				</li>
				<li>
					<a href="{{path('app_produits')}}">Produits</a>
				</li>
				{% if app.user %}
					<li>
						<a href="{{path('app_profil')}}">Mon Profil</a>
					</li>
					<li>
						<a href="{{path('app_login')}}">Déconnexion</a>
					</li>
				{% else %}
					<li>
						<a href="{{path('app_register')}}">Inscription</a>
					</li>
					<li>
						<a href="{{path('app_login')}}">Connexion</a>
					</li>
				{% endif %}
				<li>
					<a href="{{ path('app_cart') }}">Panier</a>
				</li>

			</ul>
		</nav>
	</header>
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
{% endblock %}
